/*font-family: 'Libre Barcode 128 Text', cursive;
font-family: 'Permanent Marker', cursive;


#formu1{
    width:40%;
}


#caja1{
    float: left;
    width:30%;
    height:25em;
}
#caja2{
    float: left;
    width:48%;
}

#caja3{
    width:100%;
    clear:both;
}
*/
#btn1{
    width:50%;
    height:3em;
    background-color: rgb(0, 0, 0);
    border:0px;
    margin:0 0 10% 20%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:1em;
    color:white;
    cursor: pointer;
}
#prenda{
    width:50%;
    height: 3em;
    font-family: 'Montserrat', sans-serif;
    margin:0 0 10% 20%;
}
#color{
    width:50%;
    height: 3em;
    margin:0 0 10% 20%;
    font-family: 'Montserrat', sans-serif;
}
.item{
    display: grid;
}
.contenedor {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 3fr ;
    grid-template-areas:"footer footer footer";
}
#formul{margin-top:20%;}
.item0, .item4{
    grid-column: 1/-1;
}

.itemselect{
    grid-column: 1/-1;
}
.item2{
    justify-content: center;
  align-items: center;
  background-color: #ffffff
}
#foto{
    float:left;
}
#colorcin{
    margin-left:25%;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0.623);
    background-color: #f7e9e2
}
h1{
    font-family: 'Staatliches', sans-serif;
    
    font-size: 5em;
    margin-bottom:2%;
    margin-top:1%;
    margin-left:29%;
    color:#000000;
    float:center;
}

h2{
    margin-top:2%;
    font-size:8em;
    font-family: 'Libre Barcode 128 Text', cursive;
    text-align: center;
    float:left;
    
    align-self: start;
}
#resultado{
    overflow: hidden;
    margin-left:10%;
    text-shadow: 0 5px 0 rgba(0, 0, 0, 0);
}
#bolsa{
    margin:0%;
    padding:0%;
}
.item3{
    margin:0%;
    padding:0%;
    align-self: start;
}
#bolsa{
    margin-left:25%;
}
#bolsa1{display: inline-block;padding-right: 11%;padding-left:12%;
}
.item4{
    justify-content: flex-start;
    display: inline-block;
    grid-column: 1/-1
}
.itemim{display: block;
    float:left;
    align-self: auto;}
.itemtit{
    justify-content: center;
}
#caja3{
    width:100%;
}
#bolsa2{padding-left:8%;}